<%- include('partials/headers') %>
  <main>
        <div id="logo">
            tech park
        </div>
        <form action="/login" method="post">
            <div id="form-control">
            <label for="username">username</label>
            <input type="text" placeholder="username" id="username">
            </div>
            <div id="form-control">
            <label for="username">username</label>
            <input type="text" placeholder="username" id="username">
            </div>
            <button>Login</button>
        </form>
    </main>
<%- include('partials/footer') %>
