.container{
            background-color: lightgreen;
            height: 100000px;
            width: 100%; 
}

.box{
            border: 2px solid red  ;
            height: 100px;
            width: 100px;
            display: inline-block;

}

#box2{
            text-align: center;
            background-color: aqua  ;
            position: sticky;
            top: 0px;
}


#box3{
            position: fixed;
            right: 2px;
            bottom: 10px;
}
#box2:hover{
  background-color: blueviolet;
  color: yellow;
  text-align: justify;
}