.container{
            background-color: lightgreen; 
}

.box{
            border: 2px solid red  ;
            height: 100px;
            width: 100px;
            display: inline-block;

}

#box2{
            text-align: center;
            background-color: aqua  ;
            position: sticky;
            top: 0px;
}


#box3{
            position: fixed;
            right: 2px;
            bottom: 10px;
}
#box2:hover{
  background-color: blueviolet;
  color: yellow;
  text-align: justify;
}

input:hover{
  color: red;
  background-color: yellow;
}

input:focus{
  background-color: blue;
  color: aqua;
  border: 10px solid black;
}

