<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/forgot_password.css">
</head>
<body>
  <div id="outerbox">
    <div id="container">
      <img src="https://baitussalam.org/images/logo.svg" alt="baitussalam">
      <h2>Forgot Your Password?</h2>
      <p>Please enter your email address to receive a password reset link.</p>
      <form action="send-reset-link.html" method="post">
        <label for="email">Email address:</label><br>
        <input type="email" id="email" name="email" placeholder="Enter your email" required><br>
        <a id="backtologin" href="login.html">Back to Login</a>
        <button>Send</button>
      </form>  
    </div>
   </div> 
</body>
</html>

