<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>

<body>
    <div id="outerbox">
        <div id="container">
            <img src="https://baitussalam.org/images/logo.svg" alt="baitussalam">
            <h1>Welcome Back</h1>
            <form action="/login" method="post">
            <input name="email" placeholder="Email" type="email" /> <br> <br>
            <input name="password" placeholder="Password" type="password" />  
            <a id="forgotpassword" href="forgot_password.html">Forgot Password?</a> <br> <br>
            <button>Login</button>
            </form>
        </div>
    </div>
</body>

</html>