<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>

<body>
    <div id="outerbox">
        <div id="container">
            <img src="https://baitussalam.org/images/logo.svg" alt="baitussalam">
            <h1>Sign in</h1>
            <form action="/Signin" method="post">
            <input type="text" name="firstName" id="firstName" placeholder="First Name"><br> <br>
            <input type="text" name="lastName" id="lastName" placeholder="Last Name"><br> <br>
            <input type="email" name="email" id="email" placeholder="Email"  /> <br> <br>
            <input type="text" name="username" id="Username" placeholder="Username"  /> <br> <br>
            <input type="password" name="password" id="password" placeholder="Password"  />  
            <a id="BackToLogin" href="./login.ejs">Back to login page</a> <br> <br>
            <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>