*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.container button{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  margin: 2px;
  cursor: pointer;
}