
.header{
    background-color: purple;
    padding: 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.headings{
    color: white;
}

.cdiv{
    text-align: left;
    position: sticky;
  top: 0px;
}

.nav{
  background-color: #333;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  
}

.a{
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

.a:hover{
  background-color: lightslategray;
  color: red;
}

.Article1{
  background-color: ghostwhite;
  margin: 20px;
  padding: 10px;
}

.Article2Headings{
  color: blue;
}

.footer{
  background-color: purple;
  text-align: center;
  padding: 40px;
  margin: 20px;
}

.footerheading{
  color: white;
}

@media only screen and (max-width: 375px) {
  
  .footer{
    font-size: 10px;
  }

}