*{
    padding: 0;
    margin: 0;
    background-color: rgb(241, 235, 235);
}
.logos{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.logos a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    /* padding: 1em; */
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    /* position: relative; */
}
.logos a svg{
    height: 32px;
    /* fill: currentColor; */
}
.logos a::before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    transform: translateY(-20px) rotate(25deg);
    opacity: 0;
    transition: 200ms ease;
}
.logos a:hover{
    background-color: var(--accent-color);
    fill: white;
}
.logos a:hover svg{
    fill: white;
}
.logos a::after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid var(--accent-color);
    /* transform: translate(0) rotate(0); */
    opacity: 0;
    transition: 200ms ease;
}
.logos a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}
.logos a:hover::after{
    transform: translateY(-43px) rotate(0);
    opacity: 1;
}